<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Shortcut icon" href="../img/alertGiga.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
    <title>AlertaGiga</title>
  </head>
  <body>
    <section class="btn-start" method="">
      <button id="Callback-btn" type="submit">START ALERT</button>
    </section>
    <div class="message-alert">
      <div class="text-alert">
        <strong>ROTINA DE RELATÓRIOS ESC</strong>
        <span id="tipoAlert"></span>
      </div>
      <button id="btn-muted" class="muted"><i class="bi bi-volume-mute-fill"></i></button>
      <div class="btn-close-alert">
        <a id="close-alert"><i class="bi bi-exclamation-triangle-fill"></i></a>
      </div>
    </div>
    <% if (message != "") { %>
      <%- include('./components/messages', {message: message, type: type})  %>
    <% } %>
    <header>
      <img src="https://www.gigamaisfibra.com.br/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgiga-mais-fibra-black-logo.76fbc191.png&w=256&q=75" alt="logo">
      <% if (task==null) { %>
        <%- include('./components/form', {titleForm: "ALERTA", action: "create", value: "", idBtn: "addButton", nameBtn: "Adicionar"})%>
      <% } else { %>
        <%- include('./components/form', {titleForm: "EDITAR TAREFA", action: `updateOne/${task._id}`, value: task.task, idBtn: "updateButton", nameBtn: "Atualizar"}) %>
      <% } %>
    </header>
    <section id="tasks">
      <ul>
        <% tasksList.forEach((task) => { %>
        <li class="check-<%= task.check %>">
          <div>
            <a href="/check/<%= task._id %>" class="check-<%= task.check %>"><%= task.task %>
            </a>
            <span>Criado em <%= task.date.toLocaleDateString() %></span>
          </div>
          <div>
            <a class="btnUpdate" href="/getById/<%= task._id %>/update"
              ><i class="bi bi-pencil-square"></i
            ></a>
            <a class="btnDelete" href="/getById/<%= task._id %>/delete"
              ><i class="bi bi-trash"></i
            ></a>
          </div>
        </li>
        <% }) %>
      </ul>
    </section>

    <% if (teskDelete != null) { %>
      <%- include('./components/modalDel', {task: teskDelete})  %>
    <% } %>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
